.form-div {
    position: absolute;
    top: 35%;
    left: 50%;
    transform: translate(-50%, -50%);
}

form {
    width: 50%;
    min-width: 450px;
    margin: 0 auto;
}

.btn-login {
    background-color: #D23725;
    color: #fff;
    font-weight: bold;
    height: 40px;
    border: 2px solid #fff;
    border-radius: 7px;
}

.btn-login:hover {
    background-color: #fff;
    color: #D23725;
    border: 2px solid #D23725;
}

.btn-login:focus {
    outline: none;
    box-shadow: none;
}