@import "~bootstrap/dist/css/bootstrap.css";

.newarrival {
    background: red;
    width: 50px;
    color: white;
    font-size: 12px;
    font-weight: bold;
}

.col-md-7 h2 {
    color: #555;
}

.price {
    color: #fe2b0f;
    font-size: 26px;
    font-weight: bold;
    padding-top: 20px;
}
input {
    border: 1px solid #ccc;
    font-weight: bold;
    height: 33px;
    text-align: center;
    width: 30px;
    margin-left: 10px;
}
.cart {
    background: #fe2b0f;
    color: #ffffff;
    font-size: 15px;
    margin-left: 20px;
}

.col-md-4 {
    min-width: 393px;
  }
  
  @media (max-width: 1154px) {
    .col-md-4 {
      width: 50%;
    }
  }
  
  @media (max-width: 770px) {
    .col-md-4 {
      width: 100%;
    }
  }
  
  .row {
    padding-top: 100px;
  }
  
  .loader-container {
    position: fixed;
    height: 100%;
    width: 100%;
    background-color: black;
    opacity: 0.8;
    z-index: 100;
  }