<div *ngIf="loaderService.isLoading | async" class="loader-container">
    <mat-spinner style="top: 50%; left: 50%"></mat-spinner>
</div>
<div class="container" *ngIf='product'>
    <div class="row">
        <div class="col-md-5">
            <img width="80%" height="80%"
                     src="{{ product.picture }}"
                     [title]='product.productName'>
        </div>
        <div class="col-md-7">
            <p><b>{{product.category}}</b></p>
            <p class="newarrival text-center"> NEW</p><br>
            <h1>{{product.name}}</h1>
            <span>{{'1 kom ' + product.price + '/kom'}}</span>
            <p class='price'>{{product.price}}</p><br>
            <button type="button" class="btn btn-default cart" (click)=addtocart(product)>Dodaj u korpu</button>
            <br><br><br><br>
            <button class='btn btn-outline-danger back'
            style='width:50px'
            (click)='onBack()'>
            <i class='fa fa-chevron-left white-color'></i> 
        </button>
        </div>
    </div>
</div>