<div class="container login-info">
    <div *ngIf="loaderService.isLoading | async" class="loader-container">
        <mat-spinner style="top: 50%; left: 50%"></mat-spinner>
    </div>

    <div *ngIf="showProductForm" class="container-fluid register-form">
        <div class="register-form-body">
            <button class="close-modal" (click)="closeEditForm()">X</button>
            <form (ngSubmit)="updateProduct()" [formGroup]="formProduct" method="post">
                <div class="form-group">
                    <label for="name"> Naziv proizvoda </label>
                    <input formControlName="name" type="text" class="form-control" id="name"
                        [(ngModel)]="product.name"
                        [ngClass]="{ 'is-invalid': submitted && formProduct.controls.name.errors}" />
                    <div *ngIf="submitted && formProduct.controls.name.errors" class="invalid-feedback">
                        <div *ngIf="formProduct.controls.name.errors.required">
                            Naziv proizvoda je neophodan
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label for="category">Kategorija</label>
                    <select id="category" name="category" class="form-control" formControlName="category"
                        [(ngModel)]="selected">
                        <option *ngFor="let cat of categories" [value]="cat.name">{{cat.name}}</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="name"> Količina </label>
                    <input formControlName="quantity" type="text" class="form-control" id="quantity"
                        [(ngModel)]="product.quantity"
                        [ngClass]="{ 'is-invalid': submitted && formProduct.controls.quantity.errors}" />
                    <div *ngIf="submitted && formProduct.controls.quantity.errors" class="invalid-feedback">
                        <div *ngIf="formProduct.controls.quantity.errors.required">
                            Količina proizvoda je neophodna
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label for="price"> Cena </label>
                    <input formControlName="price" type="text" class="form-control" id="price"
                        [(ngModel)]="product.price"
                        [ngClass]="{ 'is-invalid': submitted && formProduct.controls.price.errors}" />
                    <div *ngIf="submitted && formProduct.controls.price.errors" class="invalid-feedback">
                        <div *ngIf="formProduct.controls.price.errors.required">
                            Cena proizvoda je neophodna
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label for="picture"> Slika </label>
                    <input formControlName="picture" type="text" class="form-control" id="picture"
                        (change)="onFileChange($event)"
                         />
                    <!-- <div *ngIf="submitted && formProduct.controls.picture.errors" class="invalid-feedback">
                        <div *ngIf="formProduct.controls.picture.errors.required">
                            Slika proizvoda je neophodna
                        </div>
                    </div> -->
                </div>
                <button type="submit" class="btn btn-register">Izmeni proizvod</button>
                <button type="button" class="btn btn-register" (click)="delete()">Obriši proizvod</button>
            </form>
        </div>
    </div>
    <div class="container" *ngIf="!showProductForm">
        <div *ngIf='product'>
            <div class="row">
                <div class="col-md-5">
                    <img width="80%" height="80%" src="{{ product.picture }}" [title]='product.productName'>
                </div>
                <div class="col-md-7">
                    <p class="newarrival text-center"> NEW</p>
                    <h2>{{pageTitle + ' ' + product.name}}</h2>
                    <p> Sifra proizvoda: {{product._id}}</p>
                    <p class='price'>{{product.price}}</p>
                    <p><b>Kategorija proizvoda: {{product.category}}</b></p>

                    <button class='btn btn-outline-danger back btn-form' style='width:150px'
                        (click)='editProductForm()'>
                        <i class='fa fa-chevron-left'></i> Uredi proizvod
                    </button>

                    <button class='btn btn-outline-danger back' style='width:150px' (click)='onBack()'>
                        <i class='fa fa-chevron-left'></i> Nazad
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>