<div class="container login-info">
  <p>
    Ulogovani ste kao: <span>{{ loginData.email }}</span>
  </p>

  <button class="btn btn-register" (click)="showRegister()">
    Registruj admina
  </button>

  <div *ngIf="showRegisterForm" class="container-fluid register-form">
    <div class="register-form-body">
      <button class="close-modal" (click)="closeModal()">X</button>
      <form (ngSubmit)="registerAdmin()" [formGroup]="form">
        <div class="form-group">
          <label for="username">Korisničko ime</label>
          <input formControlName="username" type="text" class="form-control" id="username"
            placeholder="Unesi korisničko ime" [ngClass]="{ 'is-invalid': submitted && f.username.errors }" />

          <div *ngIf="submitted && f.username.errors" class="invalid-feedback">
            <div *ngIf="f.username.errors.required">
              Korisničko ime je neophodno
            </div>
          </div>
        </div>
        <div class="form-group">
          <label for="email">Email adresa</label>
          <input formControlName="email" type="email" class="form-control" id="email" placeholder="Unesi email"
            [ngClass]="{ 'is-invalid': submitted && f.email.errors }" />

          <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
            <div *ngIf="f.email.errors.email">Email adresa je neophodna</div>

            <div *ngIf="f.email.errors.required">
              Email adresa mora biti validna
            </div>
          </div>
        </div>
        <div class="form-group">
          <label for="password">Šifra</label>
          <input formControlName="password" type="password" class="form-control" id="password" placeholder="Unesi šifru"
            [ngClass]="{ 'is-invalid': submitted && f.password.errors }" />

          <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
            <div *ngIf="f.password.errors.required">Šifra je neophodna</div>

            <div *ngIf="f.password.errors.minlength">
              Šifra mora biti duža od 6 karaktera
            </div>
          </div>
        </div>

        <div class="form-group">
          <label for="password">Potvrdite šifru</label>
          <input formControlName="confirmPassword" type="password" class="form-control" id="confirmPassword"
            placeholder="Potvrdite unetu šifru" [ngClass]="{ 'is-invalid': submitted && f.confirmPassword.errors }" />

          <div *ngIf="submitted && f.confirmPassword.errors" class="invalid-feedback">
            <div *ngIf="f.confirmPassword.errors.required">
              Neophodno je potvrditi šifru
            </div>

            <div *ngIf="f.confirmPassword.errors.mustMatch">
              Password must match
            </div>
          </div>
        </div>
        <button type="submit" class="btn btn-register-second">Registruj admina</button>
      </form>
    </div>
  </div>
</div>

<div class="container add-product">
  <app-add-product></app-add-product>
</div>

<div class="table-responsive">
  <table class="table">
    <thead>
      <tr>
        <th>
          <button class="btn btn-register" (click)="toggleImage()">
            {{showImage ? "Sakrij" : "Prikazi"}} sliku proizvoda
          </button>
        </th>
        <th>Proizvod</th>
        <th>Kategorija</th>
        <th>Cena</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor='let product of productsList'>
        <td>
          <img *ngIf="showImage" [src]='product.picture' [title]='product.name' [style.width.px]='imageWidth'
            [style.margin.px]='imageMargin'>
        </td>
        <td>
          <a [routerLink]="['/admin-home', product._id]">
            {{product.name}}
          </a>
        </td>
        <td>{{product.category}}</td>
        <td>{{product.price}}</td>
      </tr>
    </tbody>
  </table>
</div>