<div *ngIf="loaderService.isLoading | async" class="loader-container">
    <mat-spinner style="top: 50%; left: 50%"></mat-spinner>
</div>

<div class="row">
    <div class="col-md-4" *ngFor="let product of productsList">
        <app-product-card [product]="product"></app-product-card>
    </div>
</div>

<div class="pages">
    <div>
        <p>Stranica <strong>{{page}}</strong>/{{lastPage}} stranici</p>
        <button class="btn" (click)="previousPage()" [disabled]="page == 1">Previous</button>
        <button class="btn m-2" (click)="nextPage()" [disabled]="page == lastPage">Next</button>
    </div>
</div>