.row {
  padding-top: 100px;
}

.col-md-4 {
  min-width: 393px;
}

.loader-container {
  position: fixed;
  height: 100%;
  width: 100%;
  background-color: black;
  opacity: 0.8;
  z-index: 100;
}

@media (max-width: 1154px) {
  .col-md-4 {
    width: 50%;
  }
}

@media (max-width: 770px) {
  .col-md-4 {
    width: 100%;
  }
}