.col-md-4 {
  min-width: 393px;
}

.loader-container {
  position: absolute;
  top: 0;
  height: 100%;
  width: 100%;
  background-color: black;
  opacity: 0.8;
  z-index: 100;
}

.row {
  width: 100%;
}

.pages {
  display: flex;
  justify-content: center;
}

.pages div {
  margin-bottom: 45px;
  margin-top: 30px;
}

.pages button {
  min-width: 160px;
  background-color: #d23725;
  border: 2px solid #d23725;
  color: white;
  font-weight: bold;
}

.pages button:hover {
  background-color: white;
  color: #d23725;
}

.pages p {
  text-align: center;
  color: #d23725;
  font-size: 20px;
}

.pages p strong {
  color: black;
}

.container-fluid {
  padding-left: 0;
}

ol {
  margin-bottom: 0.5rem;
}

.slider {
  margin-top: 40px;
}

.filter {
  margin-top: 70px;
}

.filter .open-filters:hover {
  background-color: #fff;
  border: 2px solid #d23725;
  color: #d23725;
}

.hovered-button {
  background-color: #fff;
  border: 2px solid #d23725;
  color: #d23725;
  min-width: 150px;
  border-radius: 10px;
  height: 50px;
  font-size: 18px;
}

.not-hovered-button {
  background-color: #d23725;
  min-width: 150px;
  border-radius: 10px;
  color: #fff;
  border: 2px solid #fff;
  height: 50px;
  font-size: 18px;
}

.filter .open-filters:focus {
  outline: none;
  box-shadow: none;
}

.filter .open-filters span {
  float: right;
}

.show-filters {
  width: 50%;
  margin: 0 auto;
  margin-top: 40px;
  border: 2px solid #d23725;
  padding: 30px;
  border-radius: 15px;
}

.show-filters .row .col-sm-6 {
  min-width: 225px;
}

.show-filters .row .col-sm-6 {
  text-align: left;
}

.show-filters label {
  font-size: 16px;
  color: #252525;
}

.form-div {
  margin-top: 60px;
}

.btn-login {
  background-color: #D23725;
  color: #fff;
}

@media (max-width: 1210px) {
  .col-md-4 {
    max-width: 50%;
    flex: 0 0 50%;
  }
}

@media (max-width: 823px) {
  .col-md-4 {
    max-width: 100%;
    flex: 0 0 100%;
  }
}
